/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-class-pattern */

/* fix main youtube player progressbar */
.ytp-play-progress,
#progress {
	background: var(--yt-spec-static-brand-red) !important;
}

/* fix thumbnail progress bar color (unhovered) */
.ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment {
	background: var(--yt-spec-static-brand-red) !important;
}

/* fix thumbnail playerhead color */
.ytProgressBarPlayheadProgressBarPlayheadDot {
	background: var(--yt-spec-static-brand-red) !important;
}

/* fix thumbnail progressbar */
.ytProgressBarLineProgressBarPlayed {
	background: var(--yt-spec-static-brand-red) !important;
}

/* fill all svgs that are hardcoded colors... yt wild */
[fill='#FF0033' i] {
	fill: var(--yt-spec-static-brand-red) !important;
}

/* make sure the variables are set on all versions */
*[dark],
*[light],
*[color-version] {
	--yt-spec-static-brand-red: #f00 !important;
	--yt-sys-color-baseline--static-brand-red: #f00 !important;
}
